.commodities {  
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}
.commodities ul {
    width: 100%;
}
.commodities li { /*Border size*/
    float: left;
    width: 200px;
    height: 280px;
    padding-left: 3px; /*Text horizontal size*/
    margin-left: 10px;
    position: relative;
    margin-right: 10px;
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    background-color: #004792;
    /*border: 1px solid #ffffff;*/
}
.commodities li:hover {
    background-color: #0660A7;
}   
.commodities img {
    width: 40%;
    margin: 0 auto;
    margin-top: 20%;
}
.commodities .hashtag {
    top: 0;
    left: 0;
    padding: 8px;
    color: #fff;
    position: absolute;
    background: #ff4c00;
}
.commodities li h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}
.commodities li span {
    font-size: 20px;
    color: #ffae00;
}
.commodities li a {
    text-decoration: none;
}
.commodities li button {
    border: 0;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: #6ca0dc;
}   
.commodities li button:hover {
    border: 0;
    color: white;
    background-color: #85C1E9;
}
.service_line {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    border-top: solid #ACC0D8 5px;
}