/*------------------------------------------------------------
--------------------Navigation RWD Settings-------------------
------------------------------------------------------------*/
@media (min-width: 200px) {
    nav {
        height: 150px;
    }
}
@media (min-width: 700px) {
    nav {
        height: 110px;
    }
}
@media (min-width: 1000px) {
    nav {
        height: 100px;
    }
}
/*------------------------------------------------------------
--------------------Select RWD Settings-----------------------
------------------------------------------------------------*/
@media (min-width: 200px) {
    .order select {
        width: 70%;
    }
}
@media (min-width: 1000px) {
    .order select {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .order select {
        width: 30%;
    }
}
/*------------------------------------------------------------
--------------------Footer RWD Settings-----------------------
------------------------------------------------------------*/
@media (min-width: 200px) {
    footer {
        margin-top: 120%;
    }
}
@media (min-width: 300px) {
    footer {
        margin-top: 70%;
    }
}
@media (min-width: 1000px) {
    footer {
        margin-top: 10%;
    }
}