.order img {
    width: 20%;
    height: 20%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border-radius: 20%;
}
.order h2 {
    text-align: center;
}
.order .price {
    font-size: 20px;
    color: goldenrod;
    text-align: center;
}
.order .line {
    width: 50%;
    height: 1px;
    padding: 10px;
    margin: 0 auto;
    border-top: solid #0080FF 5px;
}
.order .description {
    font-size: 18px; 
    padding: 10px 10%;
    line-height: 150%;   
    text-align: center;
}
.order .note {
    color: red;
    font-size: 18px;    
    line-height: 10px;
    text-align: center;
}
.order select {
    width: 20%;
    padding: 5px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: solid 2px #7B7B7B;
}