.commodities li { /*Border size*/
    width: 200px;
    height: 280px;
    transition: 0.5s;
    margin-left: 10px;
    position: relative;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: #CCC;
    /*border: 1px solid #ffffff;*/
}
.commodities li:hover {
    transform: scale(0.99);
    background-color: #BBB;
}   
.commodities img {
    width: 40%;
    margin: 0 auto;
    margin-top: 20%;
}
.commodities li h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}
.commodities li p {
    font-size: 20px;
    color: #E9AA0A;
    font-weight: bold;
    display: inline-block;
}
.commodities li a {
    text-decoration: none;
}
.service_line {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    border-top: solid #0080FF 5px;
}