/*------------------------------------------------------------
--------------------Defult CSS settings-----------------------
------------------------------------------------------------*/
html, body {
    height: 100%;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*------------------------------------------------------------
--------------------Navigation Menu Settings------------------
------------------------------------------------------------*/ 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
nav {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 5%;
    align-items: center;
    background: #1b1b1b;
    justify-content: space-between;
}
nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
input[type="checkbox"] {
    display: none; /*Remove checkbox*/
}
nav .menu i {
    display: none;
    color: white;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
    color: black;
    background: white;
    text-decoration: none;
}
/*------------------------------------------------------------
--------------------Header Banner Settings--------------------
------------------------------------------------------------*/
.banner {
    width: 100%;
    height: 50%;
    filter: blur(3px);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/banner.jpg");
}
.banner_title {
    top: 35%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}
/*------------------------------------------------------------
--------------------Introduction Settings---------------------
------------------------------------------------------------*/
.introduction {
    height: 80%;
    padding: 0% 0%;
    text-align: center;
}
.text {
    padding: 3% 5%;
    font-size: 18px;
    display: inline-block;
}
/*------------------------------------------------------------
--------------------Footer settings---------------------------
------------------------------------------------------------*/
footer {
    height: 10%;
    margin-top: 10%;
    color: white; /*Text color*/
    position: relative;
    text-align: center;
    background-color: #1b1b1b;
}
/*------------------------------------------------------------
--------------------Terms settings----------------------------
------------------------------------------------------------*/
.terms_title {
    padding: 20px;
    text-align: center;
}
.terms_line {
    width: 50%;
    height: 1px;
    margin: 0 auto;
    border-top: solid #0080FF 5px;
}
.terms_text {
    text-align: left;
    line-height: 150%;
    padding: 10px 10%;
}