/* Dark mode */

.light-mode {
    color: black;
    background-color: #E5E5E5;
}
.light-mode .skills li, .light-mode .links li, .light-mode .experience {
    background-color: white;
}
.light-mode .skills p, .light-mode .experience p {
    color: gray;
}
.i {
    position: relative;
}
.fa-moon {
    top: 30px;
    right: 5%;
    position: absolute;
}

/* Basic label */

html, body {
    height: 100%;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
nav {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 20px 10%;
    align-items: stretch;
    background-color: #1B1B1B;
    justify-content: space-between;
}
input[type="checkbox"] {
    display: none; /*Remove checkbox*/
}
nav .menu i {
    display: none;
    color: white;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
    display: inline-block;
}
nav ul li a {
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
}
nav ul li a:hover {
    color: aqua;
    text-decoration: none;
}

/* Banner */

.banner {
    width: 100%;
    height: 40%;
    filter: blur(3px);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/banner.png");
}
.banner-title code {
    top: 35%;
    left: 50%;
    padding: 10px;
    color: yellow;
    overflow: hidden;
    font-size: 1.2em;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    font-family: monospace;
    transform: translate(-50%, -50%);
    animation: typing 3s steps(28, end);
    background-color: rgba(255, 255, 255, 0.5);
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 250px;
    }
}

/* Intro */

.content {
    color: white;
    background-color: #272727;
}
.content h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.col-12 {
    padding: 3%;
    font-size: 20px;
    text-align: center;
}
.skills {
    display: flex;
    text-align: center;
    justify-content: center;
}
.skills li {
    margin: 10px;
    width: 550px;
    padding: 10px;
    height: 200px;
    transition: 0.5s;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #161A1D;
}
.skills p {
    color: #C0C0C0;
}

/* Links */

.links {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
}
.links li {
    width: 400px;
    height: 60px;
    margin: 5px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #161A1D;
}
.links a {
    color: white;
    font-weight: bold;
}
.links a:hover {
    color: #2ECC40;
    text-decoration: none;
}
.links li:hover {
    transform: scale(1.05);
}
.links li:nth-child(1) {
    background-color: #E4405F;
}
  
.links li:nth-child(2) {
    background-color: #FFA500;
}
.links li:nth-child(3) {
    background-color: #833AB4;
}
.links li:nth-child(4) {
    background-color: #181717;
}
.links li:nth-child(5) {
    background-color: #7289DA;
}
.links li:nth-child(6) {
    background-color: #0074D9;
}

/* Experience */

.timeline { /* Block size */
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.timeline h2 {
    z-index: 1;
    width: 200px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    background-color: #0077B5;
}
.timeline::after { /* Timeline */
    top: 0;
    left: 50%;
    bottom: 0;
    width: 5px;
    content: '';
    z-index: 0;
    margin-left: -3px;
    position: absolute;
    background-color: #C0C0C0;
    transform: translateX(-50%);
}
.block { /* .experience position */
    width: 50%;
    padding: 20px 20px; /* Height Width(Follow .left::brfore and .right::bfore position) */
    position: relative;
    margin-bottom: -30px;
    background-color: inherit;
}
.left { /* Block left position */
    left: 0;
}
.right { /* Block right position */
    left: 50%;
}
.left::before { /* Arrow */
    width: 0;
    height: 0;
    top: 30px;
    z-index: 1;
    right: 10px;
    content: " ";
    position: absolute;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before { /* Arrow */
    width: 0;
    height: 0;
    top: 30px;
    z-index: 1;
    left: 10px;
    content: " ";
    position: absolute;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.experience { /* Include <span> <h4> <p> */
    padding: 5px;
    position: relative;
    border-radius: 5px;
    background-color: #161A1D;
}
.experience span, h5 { /* Date */
    margin-right: 5px;
    display: inline-block;
}
.experience p {
    font-size: 15px;
    color: #C0C0C0;
    text-align: left;
    line-height: 10px;
    padding-left: 30px;
}

/* Skills Details */

.skills-details {
    width: 80%;
    margin: 0 auto;
}
.skills-details .tags {
    background-color: #424242;
}
.skills-details i {
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #0074D9;
}
.skills-details span {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #161A1D;
}

/* Footer */

footer {
    width: 100%;
    padding: 50px 5%; /* Height Border */
    text-align: left;
    position: absolute; /* Always on top */
    box-sizing: border-box;
    background-color: #1b1b1b;
    font: normal 15px sans-serif;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
footer .footer-copyright p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: #8f9296;
}
footer .footer-pages {
    padding: 0;
    color: white;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
    transition: ease .25s;
}
footer .footer-pages a {
    line-height: 1.5;
    transition: ease .25s;
    text-decoration: none;
    display: inline-block;
}
footer .footer-social-media {
    float: right;
    margin-top: 5px;
    max-width: 180px;
}
footer .footer-social-media a {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    margin-left: 3px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s;
    display: inline-block;
    background-color: #33383b;
}
footer .footer-social-media a:hover {
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
}

/* Terms */

.terms_title {
    padding: 20px;
    text-align: center;
}
.terms_line {
    width: 50%;
    height: 1px;
    margin: 0 auto;
    border-top: solid #0080FF 5px;
}
.terms_text {
    text-align: left;
    line-height: 150%;
    padding: 10px 10%;
}

/* Register */

.container {
    padding: 30px 200px 30px 200px;
    background-color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #F1F1F1;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-radius: 5px;
    background-color: #DDD;
}
hr {
    margin-bottom: 25px;
    border: 1px solid #F1F1F1;
}
.registerbtn {
    width: 100%;
    border: none;
    opacity: 0.9;
    margin: 8px 0;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 16px 20px;
    border-radius: 5px;
    background-color: #04AA6D;
}
.registerbtn:hover {
    opacity: 1;
    transform: scale(0.99);
}
a {
    color: dodgerblue;
}
.login {
    text-align: center;
    background-color: #F1F1F1;
}