.job-list li {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3%;
    line-height: 10px;
    margin-bottom: 3%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
}
.hashtag {
    color: #0077BE;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.4rem;
    background-color: #CCCCCC;
}