.job_list li {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3%;
    line-height: 10px;
    margin-bottom: 3%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
}
.job_list li:hover {
    box-shadow: 5px 5px #00BFFF;
}